@tailwind base;
@tailwind components;
@tailwind utilities;

.react-tabs__tab {
  padding: 0.5rem; /* 8px */
}

.react-tabs__tab--selected {
  background-color: #008c92;
  border-top-left-radius: 0.5rem; /* 8px */
  border-top-right-radius: 0.5rem; /* 8px */
  color: white;
}

.ball {
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 20%, 0);
  }
}

.accordion {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.2s;
}

.accordion:after {
  content: "\002B";
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: #e9e9e9;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
